@page "/counter"
@using Blazor.Fluxor
@using Store.Counter
@inject IState<CounterState> CounterState
@inject IDispatcher Dispatcher

<h1>Counter</h1>

<p>Current count: @CounterState.Value.ClickCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new IncrementCounterAction());
    }
}
