@using Blazor.Fluxor
@using Store.Counter
@inject IState<CounterState> CounterState
@inject IDispatcher Dispatcher
@inherits Blazor.Fluxor.Components.FluxorComponent

<div class="container-fluid">
    <div class="row">
        <h3>Square</h3>
    </div>
    <div class="row">
        <h4>@CounterState.Value.ClickCount</h4>
    </div>
    <div class="row">
        <button class="btn btn-primary" @onclick="IncrementCount">Square</button>
    </div>
</div>
@code {
    private void IncrementCount()
    {
        //execute square action
        Dispatcher.Dispatch(new SquareCounterAction());
    }
}
